html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #9ac79a;
  display: flex;
  align-items: center;
  padding: 50px;
  height: 75vh
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100vw;
}

.logo {
  display: flex;
  padding: 5px;
  flex-direction: row;
  gap: 10px;  
}

.container {
  display: flex;
  background-color: rgb(225, 198, 160);
  padding: 20px; /* space inside an element*/
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex-direction: column;
  gap: 10px;
}

.inputBox {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.signIn {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.board {
  position: relative;
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  margin:175px;
  width:500px;
  height:500px;
  z-index: 1;
}

.overlayGrid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  z-index: 2;
  justify-items: center;   /* centers horizontally */
  align-items: end;      /* aligns to top vertically */
}

.square { 
  width: 100%; 
  height: 100%; 
  justify-content: center;   /* centers horizontally */
  align-items: end; 
  display:flex;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ababab;
}
